
{% extends "layout.html" %}

{% block pageTitle %}
Goods and services on the application
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">  
        <span class="govuk-caption-l">Add goods and services</span>
        <h1 class="govuk-heading-l float-left">Goods and services on the application</h1>
        <form action="index" method="post">
            <div class="float-right">
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add an item</button>
            </div>
            
            {% if data['removeGoodApplication'] or data['removeGood3Application'] %}
            <h2 class="govuk-heading-m clearfix">1 item added</h2>
            {% else %}
                {% if data['goodAddApplication'] and data['goodAdd3Application'] %}
                <h2 class="govuk-heading-m clearfix">2 items added</h2>
                {% else %}
                <h2 class="govuk-heading-m clearfix">1 item added</h2>
                {% endif %}
            {% endif %}

            <table class="govuk-table govuk-!-margin-bottom-7">
                <caption class="govuk-table__caption hidden">Dates and amounts</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Name <span class="small-font">&#9660;</span></a></th>
                        <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Value <span class="small-font">&#9660;</span></a></th>
                        <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Quantity <span class="small-font">&#9660;</span></a></th>
                        <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Measurement <span class="small-font">&#9660;</span></a></th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% if data['removeGoodApplication'] %}
                    <!-- remove table row -->
                    {% else %}
                        {% if data['goodAddApplication'] %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ data['add-good-name-application'] }}</td>
                            <td class="govuk-table__cell">£{{ data['good-value-application'] }}</td>
                            <td class="govuk-table__cell">{{ data['good-quantity-application'] }}</td>
                            <td class="govuk-table__cell">{{ data['good-measurement-application'] }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="good-add-application.html">Edit</a>&nbsp;&nbsp;&nbsp;<a href="remove-good-application.html">Remove</a></td> 
                        </tr>
                        {% endif %}
                    {% endif %}

                    {% if data['removeGood3Application'] %}
                    <!-- remove table row -->
                    {% else %}
                        {% if data['goodAdd3Application'] %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Good name 3</td>
                            <td class="govuk-table__cell">£{{ data['good-3-value-application-amount'] }}</td>
                            <td class="govuk-table__cell">{{ data['good-3-quantity-application'] }}</td>
                            <td class="govuk-table__cell">{{ data['good-3-measurement-application'] }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="good-3-add-application.html">Edit</a>&nbsp;&nbsp;&nbsp;<a href="remove-good-3-application.html">Remove</a></td> 
                        </tr>
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
            <button type="submit" class="govuk-button" data-module="govuk-button" formaction="task-list">Continue</button>
        </form>
	</div>
</div>
{% endblock %}
