// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-width-container {
    // Default is 960px, but we can make the width longer if our content requires it
    // max-width: 1020px;
}

.govuk-tabs {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #0b0c0c;
}

.app-related-items {
    border-top: 2px solid #005ea5;
}
.faux-hr-blue {
    border-top: 2px solid #005ea5;
}

.panel {
    border: 1px solid #b1b4b6;
    padding: 20px;
}

.internal-ui .govuk-tabs__panel {
    border: none !important;
    /*padding-left: 0 !important;*/
}

.internal-ui .govuk-header__logo {
    display: none;
}

.internal-ui .govuk-header__menu-button {
    top: 10px;
}

.internal-ui .govuk-footer {
    background: #f3f2f1 !important;
    /* clear: both; */
}

.hidden {
    display: none;
}

.applications .govuk-table__cell {
    font-size: 0.85em;
}

.products-table th, .products-table td {
    font-size: 0.85em; 
}

.pagination {
    float: rightx;
}

.pagination .pager-items {
    display: inline;
    list-style-type: none;
    float: right;
}

.pagination .pager-items li {
    display: inline;
    margin: 0 5px;
    /* font-size: 1.1875em; */
}

.pagination .pager-summary {
    float: left;
}

.filter-section {
    background: #f3f2f1;
    /* background: rgba(243, 242, 241, 1);
    background: rgba(111, 119, 123, 0.25); */
    padding: 20px;
}

.search-section {
    background: #f3f2f1;
    padding: 20px 20px 0 20px;
}

.clear-filter, .clear-search {
    display: inline-block;
    margin: 10px 0 0 10px;
}

.clear-filter-search {
    display: inline-block;
    margin: 10px 0 0 0;
}

.filter-results {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #0b0c0c;
}

.filter-results .title {
    font-weight: bold;
    margin-right: 5px;
}

.filter-results .filter-button {
    border-radius: 3px;
    /* padding: 10px; */
    border: 1px solid #6f777b;
    margin: 0 7px 0 3px;
    color: #0b0c0c;
    text-decoration: none !important;
    position: relative;
    padding: 10px 10px 10px 25px;
} 

.filter-results .filter-button .close-btn {
    position: absolute;
    top: 5px;
    left: 8px;
}

.clearfix {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-border-cell {
    padding-bottom: 0;
    border-bottom: none;
}

.no-border {
    border-bottom: none !important;
}

.product-section {
    background: #f3f2f1;
    padding: 20px;
    border-left: 5px solid #b1b4b6;
    margin-bottom: 30px;
}

/* Using remove as a link to clear filter options
.filter-results .filter-button {
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #6f777b;
    margin: 0 3px;
}
.filter-results .filter-button a {
    color: #0b0c0c;
    text-decoration: none !important;
}
.filter-results .filter-button .govuk-link {
    color: #1d70b8;
    padding-left: 5px;
    text-decoration: underline !important;
    font-size: 14px;
} */

.applications .govuk-table__cell .status-date {
    font-size: 0.85em;
    color: #6f777b;
    display: block;   
}

.govuk-tag-done {
    background: #1d70b8;
    color: #fff;
}

.govuk-tag-not-done { 
    background: #f3f2f1;
    color: #6f777b; 
}

.grey-text {
    color: #6f777b;
}

.border-less-tabs {
    border: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
}

.panel-success {
    text-align: left;
    padding: 15px;

    /* Inverts success banner */
    background: #fff;
    border: 5px solid #00703c; 
}

.panel-success p {
    color: #fff !important;
    font-weight: bold;
    margin-bottom: 0;

    /* Inverts success banner */
    color: #00703c !important;
}

.panel-info {
    text-align: left;
    padding: 15px;
    border: 5px solid #1d70b8; 
}

.panel-info p {
    color: #fff !important;
    font-weight: bold;
    margin-bottom: 0;
    color: #1d70b8 !important;
}

.message-sent .author p {
    margin-bottom: 10px;
}

.message-sent .message {
    /* background: #b1b4b6; */
    background: rgba(177,180,182, 0.50);
    padding: 20px;
}

.original-message-sent {
    background: #f3f2f1;
    padding: 20px;
}

.original-message-sent p {
    color: #6f777b;
}

.original-message-sent .original-author p {
    margin-bottom: 10px;
}

.panel-box {
    border: 1px solid #b1b4b6;
    padding: 20px;
}

.small-banner-double {
    background: #6f777b;
    color: #fff;
    font-weight: bold;
    padding: 5px 8px;
    font-size: 16px;
}

.small-banner {
    background: #6f777b;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 16px;
}

.no-underline {
    text-decoration: none;
}

.dashboard-panel {
    background: #f3f2f1;
    padding: 20px;
}

.thick-blue-border {
    border: 3px solid #1d70b8;
}

.task-list-panel {
    background: #f3f2f1;
    padding: 15px;
}

th {
    position: relative;
}
.small-font {
    font-size: .55em;
    position: absolute;
    top: 18px;
    margin-left: 3px;
    
}

.link-text-button {
    display: inline-block;
}

.info-panel {
    border-top: 5px solid #1d70b8;
    background: #f3f2f1;
    padding: 15px;
}

.search-icon {
    padding-left: 30px;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E") no-repeat -5px -3px;
    width: 66.6666%;
}

.status-tag {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 2px 5px;
    margin: 10px 0 20px 10px;
}

.status-tag-index {
    padding: 4px 6px !important;
}

.status-draft {
    background: #6f777b;
}

.status-info {
    background: #1d70b8;
}

.status-success {
    background: #00703c;
}

.font-normal {
    font-weight: normal;
}

.currency-input {
    position: relative;
}

.currency-input input {
    padding-left: 40px;
}

.currency-input-symbol {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px; 
    /* font-size: 1rem; */
    line-height: 1.25;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    padding: 8px 10px;
    height: 40px;
    box-sizing: border-box;
    background-color: #f3f2f1;
    border: 2px solid #0b0c0c;
}

.home-beta {
    clear: both;
    border-bottom: none;
}

.navigation {
    position: relative;
    border-bottom: 1px solid #bfc1c3;
    width: 100%;
    float: left; 
}

.home-link {
    color: #0b0c0c !important; 
    float: left;
    display: inline-block;
    padding: 12px 16px 8px 22px;
    text-decoration: none;
    border-bottom: 4px solid #bfc1c3;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+);
    background-position: left 10px;
    background-size: 19px;
    background-repeat: no-repeat;
}

.home-link:hover {
    border-bottom: 4px solid #bfc1c3 !important;
    color: #1d70b8 !important;
}

.nav-items {
    float: right;
    margin: 0;
}

.nav-items li {
    float: left;
    list-style: none;
    display: inline-block;
    border-bottom: 4px solid transparent;
}

.nav-items li:hover {
    border-bottom: 4px solid #bfc1c3;
}

.nav-items li a {
    display: inline-block;
    text-decoration: none;
    color: #0b0c0c;
    padding: 12px 16px 8px 16px;
}

.nav-items li a:hover {
    color: #1d70b8;
}

.nav-items li .more-link {
    background-image: url("../images/icon-chevron-down.svg");
    background-position: right 14px center;
    background-size: 12px;
    padding-right: 31px;
    position: relative;
    background-repeat: no-repeat;
}

.selected-link {
    border-bottom: 4px solid #bfc1c3 !important;
}

li.selected-link a {
    color: #1d70b8 !important;
}

.box {
    display: none;
}

.home-panel {
    clear: both;
    border-bottom: 1px solid #bfc1c3;
    padding: 20px 40px;
    background: #f3f2f1;
}

.home-panel a:hover {
    text-decoration: underline;
}

.card {
    /* border: 1px solid #bfc1c3; */
    border-top: 5px solid #1d70b8;
    background: #f3f2f1;
    padding: 15px; 
    min-height: 300px;
}

.card-block-link {
    text-decoration: none;
    display: block;
}

.card-block-link h3 {
    color: #1d70b8;
}

.notification-tag {
    text-transform: uppercase;
    font-weight: bold;
    background: #d4351c;
    color: #fff;
    width: 22px;
    height: 22px;
    text-align: center;
    margin: 0 0 0 10px;
    border-radius: 22px;
    display: inline-block;
    margin-top: 3pxx
}

.notification-tag span {
    vertical-align: middle;
}



@media (min-width: 40.0625em) { /* 641px or more */
    .internal-ui .govuk-header__menu-button {
        top: 15px;
    }

    .currency-input-symbol {
        font-size: 19px;
        /* font-size: 1.1875rem; 
        line-height: 1.31579; */
        line-height: 1.15;
    }
}

@media (min-width: 48.0625em) { /* 769px or more */
    .exporter-ui nav,
    .internal-ui nav {
        float: right;
    }

    .internal-ui .govuk-header__content {
        width: 100%;
        padding-left: 0;
    }

    .internal-ui .govuk-tabs__list-item {
        width: 18%;
    }
}

