
{% extends "layout_account.html" %}

{% block pageTitle %}
Draft applications
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">  
        <h1 class="govuk-heading-l float-left">Draft applications</h1>
        <div class="float-right">
            <a href="#"><button class="govuk-button" data-module="govuk-button">Apply</button></a>
        </div>
        <table class="govuk-table govuk-!-margin-bottom-6 clearfix">
            <caption class="govuk-table__caption hidden">Reference, application type, last updated and status</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Reference <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Type <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Last updated <span class="small-font">&#9660;</span></a></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">29112019-ABCEXP</a></td>
                    <td class="govuk-table__cell">Export licence (standard)</td>
                    <td class="govuk-table__cell">29 November 2019</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link float-left">28112019-ABCTRA</a></td>
                    <td class="govuk-table__cell">Trade control licence</td>
                    <td class="govuk-table__cell">28 November 2019</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link float-left">26112019-ABCMOD</a></td>
                    <td class="govuk-table__cell">MoD clearance</td>
                    <td class="govuk-table__cell">26 November 2019</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">25112019-ABCOGE</a></td>
                    <td class="govuk-table__cell">Open general export licence</td>
                    <td class="govuk-table__cell">25 November 2019</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">25112019-ABCTRA</a></td>
                    <td class="govuk-table__cell">Transhipment licence</td>
                    <td class="govuk-table__cell">25 November 2019</td>
                </tr>
            </tbody>
        </table>
	</div>
</div>
{% endblock %}
