
{% extends "layout_account.html" %}

{% block pageTitle %}
Licences and clearances
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">  
        <h1 class="govuk-heading-l float-left">Licences and clearances</h1>
        <table class="govuk-table govuk-!-margin-bottom-6 clearfix">
            <caption class="govuk-table__caption hidden">Reference, application type, received date and decision</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Reference <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Type <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Received date <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Decision <span class="small-font">&#9660;</span></a></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">06112019-ABCEXP</a></td>
                    <td class="govuk-table__cell">Export licence (open)</td>
                    <td class="govuk-table__cell">25 November 2019</td>
                    <td class="govuk-table__cell">Granted</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link float-left">11112019-ABCTRA</a></td>
                    <td class="govuk-table__cell">Trade control licence</td>
                    <td class="govuk-table__cell">25 November 2019</td>
                    <td class="govuk-table__cell">Partially granted</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">06112019-ABCMOD</a></td>
                    <td class="govuk-table__cell">MoD clearance</td>
                    <td class="govuk-table__cell">18 November 2019</td>
                    <td class="govuk-table__cell">Granted</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">01112019-ABCEXP</a></td>
                    <td class="govuk-table__cell">Export licence (standard)</td>
                    <td class="govuk-table__cell">12 November 2019</td>
                    <td class="govuk-table__cell">Granted</td>
                </tr>
            </tbody>
        </table>
	</div>
</div>
{% endblock %}
