
{% extends "layout.html" %}

{% block pageTitle %}
ABC Exporters Ltd
{% endblock %}

<!-- A different version of the service header, navigation and beta section -->
{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu"
  }) }}
{% endblock %}
{% block beforeContent %}
<div class="navigation">
    <a href="#" class="home-link">Account home</a>
    <ul class="nav-items">
        <li><a href="https://permissions-finder.service.trade.gov.uk/" target="_blank">Check if I need a licence</a></li>
        <li><a href="your-account.html">Your account</a></li>
        <li><a href="#">Sign out</a></li>
    </ul>
</div>

{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    classes: "home-beta",
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}
<!-- A different version of the service header, navigation and beta section -->

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Account home</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">ABC Exporters Ltd</h1>     
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-one-third">
                <div class="card">
                    <h3 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Apply</a></h3>
                    <p class="govuk-body-s">Apply for:</p>
                    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                        <li>export licences</li>
                        <li>trade control licences</li>
                        <li>transhipment licences</li>
                        <li>MoD clearances </li>
                    </ul>
                    <p class="govuk-body-s">Register for open general export licences (OGELs).</p>
                    <p class="govuk-body-s govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Draft applications</a></p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="card">
                    <h3 class="govuk-heading-s float-left"><a href="#" class="govuk-link govuk-link--no-visited-state">Check progress</a></h3>
                    <div class="notification-tag govuk-body govuk-!-font-size-14 float-left"><span>5</span></div>
                    <p class="clearfix govuk-body-s">View the status of your applications and registrations.</p>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">Edit submitted applications.</p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="card">
                    <h3 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Licences and clearances</a></h3>
                    <p class="govuk-body-s">View and manage your licences and clearances, including partially granted and unsuccessful applications.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-one-third">
                <div class="card">
                    <h3 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Goods and services</a></h3>
                    <p class="govuk-body-s">View and manage your goods and services database.</p>
                    <p class="govuk-body-s">You might have a different name for goods and services, such as products, items, technology or data.</p>
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Send a control list classification (CLC) query</a></li>
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Send a private venture (PV) grading query</a></li>
                    </ul>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="card">
                    <h3 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Raise an end user query</a></h3>
                    <p class="govuk-body-s govuk-!-margin-bottom-0">Ask for advice about any overseas company, government or individual involved in your export.</p>
                </div>
            </div>
        </div>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Compliance</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="card">
                    <h3 class="govuk-heading-s">Compliance visits</h3>
                    <p class="govuk-body-s">Your next visit is on 31 January 2020.</p>
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">View and manage your compliance visits</a></li>
                    </ul>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="card">
                    <h3 class="govuk-heading-s"><a href="#" class=" govuk-link--no-visited-state">Annual returns</a></h3>
                    <p class="govuk-body-s">View and manage your annual returns.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
