
{% extends "layout.html" %}

{% block pageTitle %}
Cancel application
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Cancel application</h1>
        <p class="govuk-body govuk-!-margin-bottom-6">When you cancel an application, your application will be deleted.</p>
        <!-- <p class="govuk-body govuk-!-margin-bottom-6">You will be given the option to start a new application on the next page.</p> -->
        <form action="#" method="post">
            <button type="submit" class="govuk-button" data-module="govuk-button">Cancel and delete</button>
        </form>
    </div>
</div>
{% endblock %}
