
{% extends "layout.html" %}

{% block pageTitle %}
Apply for an export licence
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Standard licence</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Apply for an export licence</h1>

        <div class="task-list-panel govuk-!-margin-bottom-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Application reference</h3>
                    <p class="govuk-body-s govuk-!-margin-bottom-1">ABC-123-NOV2019</p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Export type</h3>
                    <p class="govuk-body-s govuk-!-margin-bottom-1">Temporary</p>
                </div>
            </div>
        </div>

		<ol class="app-task-list">
			<li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Prepare application
                </h2>
			    <ul class="app-task-list__items">

                    <!-- Licence type 
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Licence type</a>
                        </span>    
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>            
                    </li> -->

                    <!-- Add goods -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add goods</a>
                        </span>  
                        <strong class="govuk-tag govuk-tag-done app-task-list__task-completed" id="name-in-progress">Completed</strong>              
                    </li>
    
                    <!-- Location of goods -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Location of goods</a>
                        </span> 
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="name-in-progress">In progress</strong>               
                    </li>
            
                    <!-- End user -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">End user</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>                
                    </li>

                    <!-- Consignee -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Consignee</a>
                        </span> 
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>               
                    </li>

                    <!-- Third parties -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Third parties</a>
                        </span>  
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Optional</strong>              
                    </li>

                    <!-- Additional documents -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Additional documents</a>
                        </span>  
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Optional</strong>              
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Review application
                </h2>
                <ul class="app-task-list__items"> 
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">Check your answers</span>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Apply
                </h2>
				<ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">Agree to declaration before you submit</span>
                    </li>
				</ul>
			</li>
		</ol>
		<p class="govuk-body"><a href="#">Cancel application</a></p>
    </div>
</div>
{% endblock %}
