
{% extends "layout.html" %}

{% block pageTitle %}
Good name 4
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="goods" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-l">Standard licence</span>
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Good name 4</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="value-good">Value of good (£)</label>
                    {% if data['value-good'] %}
                    <input class="govuk-input govuk-!-width-one-half" id="value-good" name="value-good" type="text" value="{{ data['value-good'] }}">
                    {% else %}
                    <input class="govuk-input govuk-!-width-one-half" id="value-good" name="value-good" type="text" value="40,000,000.00">
                    {% endif %}
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m govuk-!-margin-bottom-1" for="quantity">Quantity</label>
                    <span id="quantity-hint" class="govuk-hint govuk-!-margin-bottom-2">Enter '0' if not applicable.</span>
                    <input class="govuk-input govuk-!-width-one-half" id="quantity" name="quantity" type="text" value="1">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="measurement">Unit of measurement</label>
                    <select class="govuk-select" id="measurement" name="measurement">
                        <option value="select">Select</option>
                        <optgroup label="Other">
                            <option value="intangible" {{ 'selected' if checked("measurement", "intangible") }}>intangible</option>
                        </optgroup>
                        <optgroup label="Item">
                            <option value="pieces" selected {{ 'selected' if checked("measurement", "pieces") }}>pieces</option>
                        </optgroup>
                        <optgroup label="Mass">
                            <option value="kt" {{ 'selected' if checked("measurement", "kt") }}>kt</option>
                            <option value="t" {{ 'selected' if checked("measurement", "t") }}>t</option>
                            <option value="kg" {{ 'selected' if checked("measurement", "kg") }}>kg</option>
                            <option value="g" {{ 'selected' if checked("measurement", "g") }}>g</option>
                            <option value="mg" {{ 'selected' if checked("measurement", "mg") }}>mg</option>
                            <option value="mcg" {{ 'selected' if checked("measurement", "mcg") }}>mcg</option>
                        </optgroup>
                        <optgroup label="Volume">
                            <option value="m3" {{ 'selected' if checked("measurement", "m3") }}>m3</option>
                            <option value="cm3" {{ 'selected' if checked("measurement", "cm3") }}>cm3</option>
                            <option value="mm3" {{ 'selected' if checked("measurement", "mm3") }}>mm3</option>
                            <option value="l" {{ 'selected' if checked("measurement", "l") }}>l</option>
                            <option value="cl" {{ 'selected' if checked("measurement", "cl") }}>cl</option>
                            <option value="ml" {{ 'selected' if checked("measurement", "ml") }}>ml</option>
                            <option value="ul" {{ 'selected' if checked("measurement", "ul") }}>ul</option>
                        </optgroup> 
                        <optgroup label="Length">
                            <option value="m" {{ 'selected' if checked("measurement", "m") }}>m</option>
                        </optgroup>
                        <optgroup label="Area">
                            <option value="m2" {{ 'selected' if checked("measurement", "m2") }}>m2</option>
                        </optgroup> 
                    </select>
                </div> 
            </fieldset>
            <button type="submit" class="govuk-button govuk-!-margin-right-4" data-module="govuk-button">Save and continue</button>
        </form>
    </div>
</div>
{% endblock %}
