
{% extends "layout.html" %}

{% block pageTitle %}
Edit good
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="good-1" method="post" autocomplete="off">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Edit good</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m govuk-!-margin-bottom-1" for="good-1-name">Name of good</label>
                    <span class="govuk-hint">Use a unique good name so you can recognise this in a big list of similar goods.</span>

                    {% if data['good-1-name'] %}
                    <input class="govuk-input govuk-!-width-full" id="good-1-name" name="good-1-name" type="text" value="{{ data['good-1-name'] }}">
                    {% else %}
                    <input class="govuk-input govuk-!-width-full" id="good-1-name" name="good-1-name" type="text" value="Good name 1">
                    {% endif %}

                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-description">What does your good do?</label>
                    {% if data['good-1-description'] %}
                    <textarea class="govuk-textarea" id="good-1-description" name="good-1-description" rows="5" aria-describedby="good-1-description-hint">{{ data['good-1-description'] }}</textarea>
                    {% else %}
                    <textarea class="govuk-textarea" id="good-1-description" name="good-1-description" rows="5" aria-describedby="good-1-description-hint">A brief description about the intended use for this good.</textarea>
                    {% endif %}
                </div>	
                <p class="govuk-body govuk-!-margin-bottom-1 govuk-label--m">Is your good controlled?</p>
                <span class="govuk-hint">Controlled goods are ones that pose a security risk. You need a licence to export a controlled good.</span>
                <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes-conditional" name="good-1-controlled" type="radio" value="Yes" {{ checked("good-1-controlled", "Yes") }} data-aria-controls="conditional-yes-conditional" checked>
                            <label class="govuk-label govuk-radios__label" for="yes-conditional">Yes</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="control-rating">What is the control list classification?</label>
                                {% if data['good-1-control-rating'] %}
                                <input class="govuk-input govuk-!-width-one-half" id="good-1-control-rating" name="good-1-control-rating" type="text" value="{{ data['good-1-control-rating'] }}">
                                {% else %}
                                <input class="govuk-input govuk-!-width-one-half" id="good-1-control-rating" name="good-1-control-rating" type="text" value="AB1">
                                {% endif %}
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="good-1-controlled-no" name="good-1-controlled" type="radio" value="No" {{ checked("good-1-controlled", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="good-1-controlled-no">No</label>
                        </div>	
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="good-1-controlled-unsure" name="good-1-controlled" type="radio" value="Not sure" {{ checked("good-1-controlled", "Not sure") }}>
                            <label class="govuk-label govuk-radios__label" for="good-1-controlled-unsure">Not sure</label>
                        </div>	
                    </div>
                    <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">I am not sure if my good is controlled</span>
                        </summary>
                        <div class="govuk-details__text">You can <a href="https://permissions-finder.service.trade.gov.uk/" target="_blank" class="govuk-link">find out if your good is controlled</a> using another GOV.UK service (Check if you need an export licence).<br /><br />If your good is controlled, you will be given a control code to answer this question.</div>
                    </details>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-1-part-number">Part number (optional)</label>
                    {% if data['good-1-part-number'] %} 
                    <input class="govuk-input govuk-!-width-one-half" id="good-1-part-number" name="good-1-part-number" type="text" value="{{ data['good-1-part-number'] }}">
                    {% else %}
                    <input class="govuk-input govuk-!-width-one-half" id="good-1-part-number" name="good-1-part-number" type="text" value="P/N1-123">
                    {% endif %}
                </div>
                <p class="govuk-body govuk-!-margin-bottom-1 govuk-label--m">Upload your good specification</p>
                <span class="govuk-hint">If you do not have a good specification, you can upload any other document that explains what the good will be used for.</span>
                <div class="govuk-form-group">
                    <input class="govuk-file-upload" id="good-1-file-upload" name="good-1-file-upload" type="file">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-1-document-description">What have you uploaded? (optional)</label>
                    {% if data['good-1-document-description'] %}
                    <textarea class="govuk-textarea" id="good-1-document-description" name="good-1-document-description" rows="5">{{ data['good-1-document-description'] }}</textarea>
                    {% else %}
                    <textarea class="govuk-textarea" id="good-1-document-description" name="good-1-document-description" rows="5">A description about the document that has been attached for this good.</textarea>
                    {% endif %}
                </div>	 
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
	</div>
</div>
{% endblock %}
