
{% extends "layout.html" %}

{% block pageTitle %}
Edit goods and services
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="good-1" method="post" autocomplete="off">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Edit goods and services</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-1-name">Name</label>

                    {% if data['good-1-name'] %}
                    <input class="govuk-input govuk-!-width-full" id="good-1-name" name="good-1-name" type="text" value="{{ data['good-1-name'] }}">
                    {% else %}
                    <input class="govuk-input govuk-!-width-full" id="good-1-name" name="good-1-name" type="text" value="Good name 1">
                    {% endif %}

                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-description">Description</label>
                    {% if data['good-1-description'] %}
                    <textarea class="govuk-textarea" id="good-1-description" name="good-1-description" rows="5">{{ data['good-1-description'] }}</textarea>
                    {% else %}
                    <textarea class="govuk-textarea" id="good-1-description" name="good-1-description" rows="5">A brief description about the intended use for this good.</textarea>
                    {% endif %}
                </div>	
                <p class="govuk-body govuk-!-margin-bottom-2 govuk-label--m">Is it controlled?</p>
                <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes-conditional" name="good-1-controlled" type="radio" value="Yes" {{ checked("good-1-controlled", "Yes") }} data-aria-controls="conditional-yes-conditional" checked>
                            <label class="govuk-label govuk-radios__label" for="yes-conditional">Yes</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="control-rating">Control list classification</label>
                                {% if data['good-1-control-rating'] %}
                                <input class="govuk-input govuk-!-width-one-half" id="good-1-control-rating" name="good-1-control-rating" type="text" value="{{ data['good-1-control-rating'] }}">
                                {% else %}
                                <input class="govuk-input govuk-!-width-one-half" id="good-1-control-rating" name="good-1-control-rating" type="text" value="AB1">
                                {% endif %}
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no-conditional" name="good-1-controlled" type="radio" value="No" {{ checked("good-1-controlled", "No") }} data-aria-controls="conditional-no-conditional">
                            <label class="govuk-label govuk-radios__label" for="no-conditional">No</label>
                        </div>	
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no-conditional">
                            <div class="govuk-form-group">
                                <p class="govuk-body">Goods and services that aren't on the <a class="govuk-link" href="https://permissions-finder.service.trade.gov.uk/" target="_blank">control list</a> may be affected by:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li><a class="govuk-link" href="https://www.gov.uk/guidance/export-controls-military-goods-software-and-technology" target="_blank">military end use controls</a></li>
                                    <li><a class="govuk-link" href="https://www.gov.uk/guidance/current-arms-embargoes-and-other-restrictions" target="_blank">current trade sanctions and embargoes</a></li>
                                    <li><a class="govuk-link" href="https://www.gov.uk/guidance/supplementary-wmd-end-use-controls" target="_blank">weapons of mass destruction controls</a></li>
                                </ul>
                                <p class="govuk-body">If your goods and services aren't subject to any controls, you'll get a no licence required (NLR) document from ECJU.</p>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="unsure-conditional" name="good-1-controlled" type="radio" value="Not sure" {{ checked("good-1-controlled", "Not sure") }} data-aria-controls="conditional-unsure-conditional">
                            <label class="govuk-label govuk-radios__label" for="unsure-conditional">Not sure</label>
                        </div>	
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-unsure-conditional">
                            <div class="govuk-form-group">
                                <p class="govuk-body">Selecting ‘not sure’ will send a control list classification query to ECJU.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-1-part-number">Part number (optional)</label>
                    {% if data['good-1-part-number'] %} 
                    <input class="govuk-input govuk-!-width-one-half" id="good-1-part-number" name="good-1-part-number" type="text" value="{{ data['good-1-part-number'] }}">
                    {% else %}
                    <input class="govuk-input govuk-!-width-one-half" id="good-1-part-number" name="good-1-part-number" type="text" value="P/N1-123">
                    {% endif %}
                </div>
                <p class="govuk-body govuk-!-margin-bottom-1 govuk-label--m">Upload document</p>
                <div class="govuk-form-group">
                    <input class="govuk-file-upload" id="good-1-file-upload" name="good-1-file-upload" type="file">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-1-document-description">Document description (optional)</label>
                    {% if data['good-1-document-description'] %}
                    <textarea class="govuk-textarea" id="good-1-document-description" name="good-1-document-description" rows="5">{{ data['good-1-document-description'] }}</textarea>
                    {% else %}
                    <textarea class="govuk-textarea" id="good-1-document-description" name="good-1-document-description" rows="5">A description about the document that has been attached for this good.</textarea>
                    {% endif %}
                </div>	 
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
	</div>
</div>
{% endblock %}
