
{% extends "layout.html" %}

{% block pageTitle %}
{{ data['add-good-name'] }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Home</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="index">Goods and services</a>
		</li>
		<li class="govuk-breadcrumbs__list-item" aria-current="page">{{ data['add-good-name'] }}</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7 float-left">{{ data['add-good-name'] }}</h1> 
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Description</dt>
                <dd class="govuk-summary-list__value">{{ data['add-good-description'] }}</dd>
            </div>
            {% if data['add-good-controlled'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">{{ data['add-good-control-rating'] }}</dd>
            </div>
            {% endif %}
            {% if data['add-good-controlled'] == "No" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">Not controlled</dd>
            </div>
            {% endif %}
            {% if data['add-good-controlled'] == "Not sure" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">Control list classification query sent</dd>
            </div>
            {% endif %}
            {% if data['add-good-part-number'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part number</dt>
                <dd class="govuk-summary-list__value">{{ data['add-good-part-number'] }}</dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Document</dt>
                <dd class="govuk-summary-list__value"><a class="govuk-link" href="/public/pdfs/filename.pdf" target="_blank">[filename.pdf]</a>
                {% if data['add-good-document-description'] %}
                    <p class="govuk-body govuk-!-margin-top-4">{{ data['add-good-document-description'] }}</p>
                </dd>
            </div>
                {% else %}
                </dd>
            </div>
            {% endif %}
        </dl>
        <form action="good-confirmation" method="post">
            <button type="submit" formaction="edit-good" class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Edit this good</button>
            <button type="submit" formaction="remove-good" class="govuk-button govuk-button--secondary" data-module="govuk-button">Remove this good</button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="info-panel">
            <p class="govuk-body-s govuk-!-margin-bottom-0">This good can be edited or removed. It will remain as a draft until it is submitted to ECJU for a review.</p>
        </div>
    </div>
</div>
{% endblock %}
