
{% extends "layout.html" %}

{% block pageTitle %}
    {% if data['good-1-name'] %}
    {{ data['good-1-name'] }}
    {% else %}
    Good name 1
    {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Home</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="index">Goods and services</a>
		</li>
		{% if data['good-1-name'] %}
		<li class="govuk-breadcrumbs__list-item" aria-current="page">{{ data['good-1-name'] }}</li>
		{% else %}
		<li class="govuk-breadcrumbs__list-item" aria-current="page">Good name 1</li>
		{% endif %}
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data['good-1-name'] %}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7 float-left">{{ data['good-1-name'] }}</h1> 
        {% else %}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7 float-left">Good name 1</h1>
        {% endif %}
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Description</dt>
                {% if data['good-1-description'] %}
                <dd class="govuk-summary-list__value">{{ data['good-1-description'] }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">A brief description about the intended use for this good.</dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                {% if data['good-1-controlled'] == "Yes" %}
                <dd class="govuk-summary-list__value">{{ data['good-1-control-rating'] }}</dd>
                {% elseif data['good-1-controlled'] == "No" %}
                <dd class="govuk-summary-list__value">Not controlled</dd>
                {% else %}
                <dd class="govuk-summary-list__value">AB1</dd>
                {% endif %}   
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part number</dt>
                {% if data['good-1-part-number'] %}
                <dd class="govuk-summary-list__value">{{ data['good-1-part-number'] }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">P/N1-123</dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Document</dt>
                <dd class="govuk-summary-list__value"><a class="govuk-link" href="/public/pdfs/filename.pdf" target="_blank">[filename.pdf]</a>
                {% if data['good-1-document-description'] %}
                    <p class="govuk-body govuk-!-margin-top-4">{{ data['good-1-document-description'] }}</p>
                </dd>
                {% else %}
                    <p class="govuk-body govuk-!-margin-top-4">A description about the document that has been attached for this good.</p>
                </dd>
                {% endif %}
            </div>
        </dl>
        <form action="good-1-1-confirmation" method="post">
            <button type="submit" formaction="edit-good-1" class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Edit this good</button>
            <button type="submit" formaction="remove-good-1" class="govuk-button govuk-button--secondary" data-module="govuk-button">Remove this good</button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="info-panel">
            <p class="govuk-body-s govuk-!-margin-bottom-0">This good can be edited or removed. It will remain as a draft until it is submitted to ECJU for a review.</p>
        </div>
    </div>
</div>
{% endblock %}
