
{% extends "layout.html" %}

{% block pageTitle %}
This good has been submitted
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
            <h1 class="govuk-panel__title govuk-!-font-size-36">This good has been submitted for a review with ECJU</h1>
        </div>
        <form action="index" method="post">
			<input type="hidden" name="changeTag" value="true">
			<button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        </form> 
    </div>
</div>
{% endblock %}
