
{% extends "layout.html" %}

{% block pageTitle %}
Goods
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">  
        <h1 class="govuk-heading-l float-left">Goods</h1>
        <div class="float-right">
            <a href="add-good.html"><button class="govuk-button" data-module="govuk-button">Add a good</button></a>
        </div>

        <form action="search-results" method="post" class="clearfix" autocomplete="off">
            <div class="govuk-form-group">
                <label class="govuk-label" for="search-goods">Search by name, control list classification or part number</label>
                <input class="govuk-input search-icon" id="search-goods" name="search-goods" type="search">
            </div>
        </form>

        {% if data['addGood'] %}
        <h2 class="govuk-heading-m clearfix">You have 58 goods</h2>
        {% else %}
        <h2 class="govuk-heading-m clearfix">You have 57 goods</h2>
        {% endif %}
        <table class="govuk-table govuk-!-margin-bottom-3">
            <caption class="govuk-table__caption hidden">Dates and amounts</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Name <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Control list classification <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Part number <span class="small-font">&#9660;</span></a></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% if data['addGood'] %}
                <!-- If a new good is added -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ data['add-good-name'] }}</a></td>
                    {% if data['add-good-controlled'] == "Yes" %}
                    <td class="govuk-table__cell">{{ data['add-control-rating'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                    {% endif %}
                    {% if data['add-part-number'] %}
                    <td class="govuk-table__cell">{{ data['add-part-number'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                    {% endif %}
                </tr>
                {% endif %}
                <!-- 1-10 of 10 items -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="good-1.html" class="govuk-link">Good name 1</a></td>
                    <td class="govuk-table__cell">AB1</td>
                    <td class="govuk-table__cell">P/N1-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="good-2.html" class="govuk-link">Good name 2</a></td>
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                    <td class="govuk-table__cell">P/N2-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="good-3.html" class="govuk-link">Good name 3</a></td>
                    <td class="govuk-table__cell">AB3</td>
                    <td class="govuk-table__cell">P/N3-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="good-4.html" class="govuk-link">Good name 4</a></td>
                    <td class="govuk-table__cell">AB4</td>
                    <td class="govuk-table__cell">P/N4-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="good-5.html" class="govuk-link">Good name 5</a></td>
                    <td class="govuk-table__cell">AB5</td>
                    <td class="govuk-table__cell">P/N5-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 6</a></td>
                    <td class="govuk-table__cell">AB6</td>
                    <td class="govuk-table__cell">P/N6-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 7</a></td>
                    <td class="govuk-table__cell">AB7</td>
                    <td class="govuk-table__cell">P/N7-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 8</a></td>
                    <td class="govuk-table__cell">AB8</td>
                    <td class="govuk-table__cell">P/N8-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 9</a></td>
                    <td class="govuk-table__cell">AB9</td>
                    <td class="govuk-table__cell">P/N9-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 10</a></td>
                    <td class="govuk-table__cell">AB10</td>
                    <td class="govuk-table__cell">P/N10-123</td>
                </tr>
                <!-- 11-20 of 10 items -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 11</a></td>
                    <td class="govuk-table__cell">AB11</td>
                    <td class="govuk-table__cell">P/N11-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 12</a></td>
                    <td class="govuk-table__cell">AB12</td>
                    <td class="govuk-table__cell">P/N12-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 13</a></td>
                    <td class="govuk-table__cell">AB13</td>
                    <td class="govuk-table__cell">P/N13-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 14</a></td>
                    <td class="govuk-table__cell">AB14</td>
                    <td class="govuk-table__cell">P/N14-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 15</a></td>
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                    <td class="govuk-table__cell">P/N15-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 16</a></td>
                    <td class="govuk-table__cell">AB16</td>
                    <td class="govuk-table__cell">P/N16-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 17</a></td>
                    <td class="govuk-table__cell">AB17</td>
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 18</a></td>
                    <td class="govuk-table__cell">AB18</td>
                    <td class="govuk-table__cell">P/N18-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 19</a></td>
                    <td class="govuk-table__cell">AB19</td>
                    <td class="govuk-table__cell">P/N19-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 20</a></td>
                    <td class="govuk-table__cell">AB20</td>
                    <td class="govuk-table__cell">P/N20-123</td>
                </tr>
                <!-- 21-30 of 10 items -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 21</a></td>
                    <td class="govuk-table__cell">AB21</td>
                    <td class="govuk-table__cell">P/N21-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 22</a></td>
                    <td class="govuk-table__cell">AB22</td>
                    <td class="govuk-table__cell">P/N22-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 23</a></td>
                    <td class="govuk-table__cell">AB23</td>
                    <td class="govuk-table__cell">P/N23-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 24</a></td>
                    <td class="govuk-table__cell">AB24</td>
                    <td class="govuk-table__cell">P/N24-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 25</a></td>
                    <td class="govuk-table__cell">AB25</td>
                    <td class="govuk-table__cell">P/N25-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 26</a></td>
                    <td class="govuk-table__cell">AB26</td>
                    <td class="govuk-table__cell">P/N26-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 27</a></td>
                    <td class="govuk-table__cell">AB27</td>
                    <td class="govuk-table__cell">P/N27-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 28</a></td>
                    <td class="govuk-table__cell">AB28</td>
                    <td class="govuk-table__cell">P/N28-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 29</a></td>
                    <td class="govuk-table__cell">AB29</td>
                    <td class="govuk-table__cell">P/N29-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 30</a></td>
                    <td class="govuk-table__cell">AB30</td>
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                </tr>
                <!-- 31-40 of 10 items -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 31</a></td>
                    <td class="govuk-table__cell">AB31</td>
                    <td class="govuk-table__cell">P/N31-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 32</a></td>
                    <td class="govuk-table__cell">AB32</td>
                    <td class="govuk-table__cell">P/N32-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 33</a></td>
                    <td class="govuk-table__cell">AB33</td>
                    <td class="govuk-table__cell">P/N33-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 34</a></td>
                    <td class="govuk-table__cell">AB34</td>
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 35</a></td>
                    <td class="govuk-table__cell">AB35</td>
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 36</a></td>
                    <td class="govuk-table__cell">AB36</td>
                    <td class="govuk-table__cell">P/N36-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 37</a></td>
                    <td class="govuk-table__cell">AB37</td>
                    <td class="govuk-table__cell">P/N37-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 38</a></td>
                    <td class="govuk-table__cell">AB38</td>
                    <td class="govuk-table__cell">P/N38-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 39</a></td>
                    <td class="govuk-table__cell">AB39</td>
                    <td class="govuk-table__cell">P/N39-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 40</a></td>
                    <td class="govuk-table__cell">AB40</td>
                    <td class="govuk-table__cell">P/N40-123</td>
                </tr>
                <!-- 41-50 of 10 items -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 41</a></td>
                    <td class="govuk-table__cell">AB41</td>
                    <td class="govuk-table__cell">P/N41-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 42</a></td>
                    <td class="govuk-table__cell">AB42</td>
                    <td class="govuk-table__cell">P/N42-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 43</a></td>
                    <td class="govuk-table__cell">AB43</td>
                    <td class="govuk-table__cell">P/N43-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 44</a></td>
                    <td class="govuk-table__cell">AB44</td>
                    <td class="govuk-table__cell">P/N44-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 45</a></td>
                    <td class="govuk-table__cell">AB45</td>
                    <td class="govuk-table__cell">P/N45-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 46</a></td>
                    <td class="govuk-table__cell">AB46</td>
                    <td class="govuk-table__cell">P/N46-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 47</a></td>
                    <td class="govuk-table__cell">AB47</td>
                    <td class="govuk-table__cell">P/N47-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 48</a></td>
                    <td class="govuk-table__cell">AB48</td>
                    <td class="govuk-table__cell">P/N48-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 49</a></td>
                    <td class="govuk-table__cell">AB49</td>
                    <td class="govuk-table__cell">P/N49-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 50</a></td>
                    <td class="govuk-table__cell">AB50</td>
                    <td class="govuk-table__cell">P/N50-123</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            {% if data['addGood'] %}
            <div class="pager-summary govuk-body">Showing <strong>1</strong> – <strong>50</strong> of <strong>58</strong> goods</div>
            {% else %}
            <div class="pager-summary govuk-body">Showing <strong>1</strong> – <strong>50</strong> of <strong>57</strong> goods</div>
            {% endif %}
            <ul class="pager-items govuk-body">
                <li>1</li>
                <li><a href="#" class="govuk-link govuk-link--no-visited-state">2</a></li>
            </ul>
        </div>
	</div>
</div>
{% endblock %}
