
{% extends "layout.html" %}

{% block pageTitle %}
Goods
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">  
        <h1 class="govuk-heading-l float-left">Goods</h1>
        <div class="float-right">
            <a href="#"><button class="govuk-button" data-module="govuk-button">Add goods</button></a>
        </div>
        <h2 class="govuk-heading-m clearfix">You have 13 goods</h2>
        <table class="govuk-table govuk-!-margin-bottom-7">
            <caption class="govuk-table__caption hidden">Dates and amounts</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Name <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Control list classification <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Part number <span class="small-font">&#9660;</span></a></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="good.html" class="govuk-link">Good name 1</a></td>
                    <td class="govuk-table__cell">AB1</td>
                    <td class="govuk-table__cell">P/N1-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 2</a></td>
                    <td class="govuk-table__cell">AB2</td>
                    <td class="govuk-table__cell">P/N2-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 3</a></td>
                    <td class="govuk-table__cell">AB3</td>
                    <td class="govuk-table__cell">P/N3-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 4</a></td>
                    <td class="govuk-table__cell">AB4</td>
                    <td class="govuk-table__cell">P/N4-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 5</a></td>
                    <td class="govuk-table__cell">AB5</td>
                    <td class="govuk-table__cell">P/N5-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 6</a></td>
                    <td class="govuk-table__cell">AB6</td>
                    <td class="govuk-table__cell">P/N6-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 7</a></td>
                    <td class="govuk-table__cell">AB7</td>
                    <td class="govuk-table__cell">P/N7-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 8</a></td>
                    <td class="govuk-table__cell">AB8</td>
                    <td class="govuk-table__cell">P/N8-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 9</a></td>
                    <td class="govuk-table__cell">AB9</td>
                    <td class="govuk-table__cell">P/N9-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 10</a></td>
                    <td class="govuk-table__cell">AB10</td>
                    <td class="govuk-table__cell">P/N10-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 11</a></td>
                    <td class="govuk-table__cell">AB11</td>
                    <td class="govuk-table__cell">P/N11-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 12</a></td>
                    <td class="govuk-table__cell">AB12</td>
                    <td class="govuk-table__cell">P/N12-123</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Good name 13</a></td>
                    <td class="govuk-table__cell">AB13</td>
                    <td class="govuk-table__cell">P/N13-123</td>
                </tr>
            </tbody>
        </table>
        <!-- <a href="index.html" class="govuk-button ">Save and continue</a> -->
	</div>
</div>
{% endblock %}
