
{% extends "layout.html" %}

{% block pageTitle %}
Are you sure you want to remove this item?
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Are you sure you want to remove this item?</h1>
        <form action="index" method="post"> 
            <input type="hidden" name="removeGood1" value="true">
            <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Yes, remove</button>
            <a href="good-1.html" class="govuk-button govuk-button--secondary">No, do not remove</a>
        </form> 
    </div>
</div>
{% endblock %}
