
{% extends "layout.html" %}

{% block pageTitle %}
Add to application
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="goods-in-application" method="post" autocomplete="off">
            <input type="hidden" name="GoodAdd1Application" value="true">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-l">Add goods and services</span> 
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add to application</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m govuk-!-margin-bottom-1" for="good-1-value-application">Value of good (£)</label>
                    <span id="good-1-value-application-hint" class="govuk-hint govuk-!-margin-bottom-2">Enter '0' if not applicable.</span>
                    <input class="govuk-input govuk-!-width-one-half" id="good-1-value-application" name="good-1-value-application" type="text" value="{{ data['good-1-value-application'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m govuk-!-margin-bottom-1" for="good-1-quantity-application">Quantity</label>
                    <span id="good-1-quantity-application-hint" class="govuk-hint govuk-!-margin-bottom-2">Enter '0' if not applicable.</span>
                    <input class="govuk-input govuk-!-width-one-half" id="good-1-quantity-application" name="good-1-quantity-application" type="text" value="{{ data['good-1-quantity-application'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-1-measurement-application">Unit of measurement</label>
                    <select class="govuk-select" id="good-1-measurement-application" name="good-1-measurement-application">
                        <option value="select" selected>Select</option>
                        <optgroup label="Other">
                            <option value="intangible" {{ 'selected' if checked("good-1-measurement-application", "intangible") }}>intangible</option>
                        </optgroup>
                        <optgroup label="Item">
                            <option value="pieces" {{ 'selected' if checked("good-1-measurement-application", "pieces") }}>pieces</option>
                        </optgroup>
                        <optgroup label="Mass">
                            <option value="kt" {{ 'selected' if checked("good-1-measurement-application", "kt") }}>kt</option>
                            <option value="t" {{ 'selected' if checked("good-1-measurement-application", "t") }}>t</option>
                            <option value="kg" {{ 'selected' if checked("good-1-measurement-application", "kg") }}>kg</option>
                            <option value="g" {{ 'selected' if checked("good-1-measurement-application", "g") }}>g</option>
                            <option value="mg" {{ 'selected' if checked("good-1-measurement-application", "mg") }}>mg</option>
                            <option value="mcg" {{ 'selected' if checked("good-1-measurement-application", "mcg") }}>mcg</option>
                        </optgroup>
                        <optgroup label="Volume">
                            <option value="m3" {{ 'selected' if checked("good-1-measurement-application", "m3") }}>m3</option>
                            <option value="cm3" {{ 'selected' if checked("good-1-measurement-application", "cm3") }}>cm3</option>
                            <option value="mm3" {{ 'selected' if checked("good-1-measurement-application", "mm3") }}>mm3</option>
                            <option value="l" {{ 'selected' if checked("good-1-measurement-application", "l") }}>l</option>
                            <option value="cl" {{ 'selected' if checked("good-1-measurement-application", "cl") }}>cl</option>
                            <option value="ml" {{ 'selected' if checked("good-1-measurement-application", "ml") }}>ml</option>
                            <option value="ul" {{ 'selected' if checked("good-1-measurement-application", "ul") }}>ul</option>
                        </optgroup> 
                        <optgroup label="Length">
                            <option value="m" {{ 'selected' if checked("good-1-measurement-application", "m") }}>m</option>
                        </optgroup>
                        <optgroup label="Area">
                            <option value="m2" {{ 'selected' if checked("good-1-measurement-application", "m2") }}>m2</option>
                        </optgroup> 
                    </select>
                </div> 
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="info-panel">
            <span class="status-tag status-success govuk-body govuk-!-font-size-14 govuk-!-margin-left-0">Verified</span>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Name</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">Good name 1 </p> 
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Used for</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">A brief description about the intended use for this good.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Control rating</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">AB1</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Part number</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">P/N1-123</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Document</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/public/pdfs/filename.pdf" target="_blank">[filename.pdf]</a></p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Type of document</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">A description about the document that has been attached for this good.</p>
        </div>
    </div>
</div>
{% endblock %}
