
{% extends "layout.html" %}

{% block pageTitle %}
Add to application
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="#" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-l">Standard licence</span> 
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add to application</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-4-value">Value of good (£)</label>
                    <input class="govuk-input govuk-!-width-one-half" id="good-4-value" name="good-4-value" type="text" value="{{ data['good-4-value'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-4-quantity">Quantity</label>
                    <input class="govuk-input govuk-!-width-one-half" id="good-4-quantity" name="good-4-quantity" type="text" value="{{ data['good-4-quantity'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-4-measurement">Unit of measurement</label>
                    <select class="govuk-select" id="good-4-measurement" name="good-4-measurement">
                        <option value="select" selected>Select</option>
                        <optgroup label="Item">
                            <option value="pieces" {{ 'selected' if checked("good-4-measurement", "pieces") }}>pieces</option>
                        </optgroup>
                        <optgroup label="Mass">
                            <option value="kt" {{ 'selected' if checked("good-4-measurement", "kt") }}>kt</option>
                            <option value="t" {{ 'selected' if checked("good-4-measurement", "t") }}>t</option>
                            <option value="kg" {{ 'selected' if checked("good-4-measurement", "kg") }}>kg</option>
                            <option value="g" {{ 'selected' if checked("good-4-measurement", "g") }}>g</option>
                            <option value="mg" {{ 'selected' if checked("good-4-measurement", "mg") }}>mg</option>
                            <option value="mcg" {{ 'selected' if checked("good-4-measurement", "mcg") }}>mcg</option>
                        </optgroup>
                        <optgroup label="Volume">
                            <option value="m3" {{ 'selected' if checked("good-4-measurement", "m3") }}>m3</option>
                            <option value="cm3" {{ 'selected' if checked("good-4-measurement", "cm3") }}>cm3</option>
                            <option value="mm3" {{ 'selected' if checked("good-4-measurement", "mm3") }}>mm3</option>
                            <option value="l" {{ 'selected' if checked("good-4-measurement", "l") }}>l</option>
                            <option value="cl" {{ 'selected' if checked("good-4-measurement", "cl") }}>cl</option>
                            <option value="ml" {{ 'selected' if checked("good-4-measurement", "ml") }}>ml</option>
                            <option value="ul" {{ 'selected' if checked("good-4-measurement", "ul") }}>ul</option>
                        </optgroup> 
                        <optgroup label="Length">
                            <option value="m" {{ 'selected' if checked("good-4-measurement", "m") }}>m</option>
                        </optgroup>
                        <optgroup label="Area">
                            <option value="m2" {{ 'selected' if checked("good-4-measurement", "m2") }}>m2</option>
                        </optgroup> 
                    </select>
                </div> 
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="info-panel">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Name</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">Good name 4 <span class="status-tag-invert status-success-invert govuk-body govuk-!-font-size-14">Verified</span></p> 
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Used for</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">A brief description about the intended use for this good.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Control rating</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">AB4</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Part number</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">P/N4-123</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Document</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/public/pdfs/filename.pdf" target="_blank">[filename.pdf]</a></p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Type of document</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">A description about the document that has been attached for this good.</p>
        </div>
    </div>
</div>
{% endblock %}
