
{% extends "layout.html" %}

{% block pageTitle %}
Goods in application
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">  
        <span class="govuk-caption-l">Add goods</span>
        <h1 class="govuk-heading-l float-left">Goods in application</h1>
        <form action="index" method="post">
            <div class="float-right">
                {% if data['removeGoodApplication'] and data['removeGood4Application'] %}
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add a good to application</button>
                {% else %}
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add another good to application</button>
                {% endif %}
            </div>
            <!-- Add a count in place --><h2 class="govuk-heading-m clearfix">You have added 1 good</h2>
            <table class="govuk-table govuk-!-margin-bottom-7">
                <caption class="govuk-table__caption hidden">Dates and amounts</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Name <span class="small-font">&#9660;</span></a></th>
                        <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Value <span class="small-font">&#9660;</span></a></th>
                        <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Quantity <span class="small-font">&#9660;</span></a></th>
                        <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Measurement <span class="small-font">&#9660;</span></a></th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% if data['removeGoodApplication'] %}
                    <!-- remove table row -->
                    {% else %}
                        {% if data['goodAddApplication'] %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ data['add-good-name-application'] }}</td>
                            <td class="govuk-table__cell">£{{ data['good-value-application'] }}</td>
                            <td class="govuk-table__cell">{{ data['good-quantity-application'] }}</td>
                            <td class="govuk-table__cell">{{ data['good-measurement-application'] }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="good-add-application.html">Edit</a>&nbsp;&nbsp;&nbsp;<a href="remove-good-application.html">Remove</a></td> 
                        </tr>
                        {% endif %}
                    {% endif %}

                    {% if data['removeGood4Application'] %}
                    <!-- remove table row -->
                    {% else %}
                        {% if data['goodAdd4Application'] %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Good name 4</td>
                            <td class="govuk-table__cell">£{{ data['good-4-value-application'] }}</td>
                            <td class="govuk-table__cell">{{ data['good-4-quantity-application'] }}</td>
                            <td class="govuk-table__cell">{{ data['good-4-measurement-application'] }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="good-4-add-application.html">Edit</a>&nbsp;&nbsp;&nbsp;<a href="remove-good-4-application.html">Remove</a></td> 
                        </tr>
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
            <button type="submit" class="govuk-button" data-module="govuk-button" formaction="task-list">Save and continue</button>
        </form>
	</div>
</div>
{% endblock %}
