
{% extends "layout.html" %}

{% block pageTitle %}
Add to application
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="#" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-l">Standard licence</span> 
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add to application</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-value">Value of good (£)</label>
                    <input class="govuk-input govuk-!-width-one-half" id="good-value" name="good-value" type="text" value="{{ data['good-value'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m govuk-!-margin-bottom-1" for="good-quantity">Quantity</label>
                    <span id="good-quantity-hint" class="govuk-hint govuk-!-margin-bottom-2">Enter '0' if not applicable.</span>
                    <input class="govuk-input govuk-!-width-one-half" id="good-quantity" name="good-quantity" type="text" value="{{ data['good-quantity'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="good-measurement">Unit of measurement</label>
                    <select class="govuk-select" id="good-measurement" name="good-measurement">
                        <option value="select" selected>Select</option>
                        <optgroup label="Other">
                            <option value="intangible" {{ 'selected' if checked("good-measurement", "intangible") }}>intangible</option>
                        </optgroup>
                        <optgroup label="Item">
                            <option value="pieces" {{ 'selected' if checked("good-measurement", "pieces") }}>pieces</option>
                        </optgroup>
                        <optgroup label="Mass">
                            <option value="kt" {{ 'selected' if checked("good-measurement", "kt") }}>kt</option>
                            <option value="t" {{ 'selected' if checked("good-measurement", "t") }}>t</option>
                            <option value="kg" {{ 'selected' if checked("good-measurement", "kg") }}>kg</option>
                            <option value="g" {{ 'selected' if checked("good-measurement", "g") }}>g</option>
                            <option value="mg" {{ 'selected' if checked("good-measurement", "mg") }}>mg</option>
                            <option value="mcg" {{ 'selected' if checked("good-measurement", "mcg") }}>mcg</option>
                        </optgroup>
                        <optgroup label="Volume">
                            <option value="m3" {{ 'selected' if checked("good-measurement", "m3") }}>m3</option>
                            <option value="cm3" {{ 'selected' if checked("good-measurement", "cm3") }}>cm3</option>
                            <option value="mm3" {{ 'selected' if checked("good-measurement", "mm3") }}>mm3</option>
                            <option value="l" {{ 'selected' if checked("good-measurement", "l") }}>l</option>
                            <option value="cl" {{ 'selected' if checked("good-measurement", "cl") }}>cl</option>
                            <option value="ml" {{ 'selected' if checked("good-measurement", "ml") }}>ml</option>
                            <option value="ul" {{ 'selected' if checked("good-measurement", "ul") }}>ul</option>
                        </optgroup> 
                        <optgroup label="Length">
                            <option value="m" {{ 'selected' if checked("good-measurement", "m") }}>m</option>
                        </optgroup>
                        <optgroup label="Area">
                            <option value="m2" {{ 'selected' if checked("good-measurement", "m2") }}>m2</option>
                        </optgroup> 
                    </select>
                </div> 
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="info-panel">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Name</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['add-good-name'] }} <a href="add-good.html#add-good-name">Change</a></p> 
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Used for</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['add-good-description'] }} <a href="add-good.html#add-good-description">Change</a></p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Control rating</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['add-control-rating'] }} <a href="add-good.html#add-good-controlled">Change</a></p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Part number</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['add-part-number'] }} <a href="add-good.html#add-part-number">Change</a></p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Document</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/public/pdfs/filename.pdf" target="_blank">[filename.pdf]</a> <a href="add-good.html#add-file-upload">Change</a></p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Type of document</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['add-document-description'] }} <a href="add-good.html#add-document-description">Change</a></p>
        </div>
    </div>
</div>
{% endblock %}
