
{% extends "layout.html" %}

{% block pageTitle %}
Add goods
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">  
        <span class="govuk-caption-l">Standard licence</span>
        <h1 class="govuk-heading-l float-left">Add goods</h1>
        <div class="float-right">
            <a href="add-good.html"><button class="govuk-button" data-module="govuk-button">Add a good to application</button></a>
        </div>
        <h2 class="govuk-heading-m clearfix">You have 15 goods</h2>
        <table class="govuk-table govuk-!-margin-bottom-3">
            <caption class="govuk-table__caption hidden">Dates and amounts</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Name <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Control list classification <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state no-underline">Part number <span class="small-font">&#9660;</span></a></th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <!-- <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 1</td>
                    <td class="govuk-table__cell">AB1</td>
                    <td class="govuk-table__cell">P/N1-123</td>
                    <td class="govuk-table__cell"><a href="good-1-add-application.html" class="govuk-link">Add to application</a></td>
                </tr> -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 4</td>
                    <td class="govuk-table__cell">AB4</td>
                    <td class="govuk-table__cell">P/N4-123</td>
                    <td class="govuk-table__cell"><a href="good-4-add-application.html" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 5</td>
                    <td class="govuk-table__cell">AB5</td>
                    <td class="govuk-table__cell">P/N5-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 9</td>
                    <td class="govuk-table__cell">AB9</td>
                    <td class="govuk-table__cell">P/N9-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 13</td>
                    <td class="govuk-table__cell">AB13</td>
                    <td class="govuk-table__cell">P/N13-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 17</td>
                    <td class="govuk-table__cell">AB17</td>
                    <td class="govuk-table__cell"><span class="grey-text">N/A</span></td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 18</td>
                    <td class="govuk-table__cell">AB18</td>
                    <td class="govuk-table__cell">P/N18-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 19</td>
                    <td class="govuk-table__cell">AB19</td>
                    <td class="govuk-table__cell">P/N19-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 26</td>
                    <td class="govuk-table__cell">AB26</td>
                    <td class="govuk-table__cell">P/N26-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 29</td>
                    <td class="govuk-table__cell">AB29</td>
                    <td class="govuk-table__cell">P/N29-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 31</td>
                    <td class="govuk-table__cell">AB31</td>
                    <td class="govuk-table__cell">P/N31-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 33</td>
                    <td class="govuk-table__cell">AB33</td>
                    <td class="govuk-table__cell">P/N33-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 36</td>
                    <td class="govuk-table__cell">AB36</td>
                    <td class="govuk-table__cell">P/N36-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 42</td>
                    <td class="govuk-table__cell">AB42</td>
                    <td class="govuk-table__cell">P/N42-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 44</td>
                    <td class="govuk-table__cell">AB44</td>
                    <td class="govuk-table__cell">P/N44-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Good name 50</td>
                    <td class="govuk-table__cell">AB50</td>
                    <td class="govuk-table__cell">P/N50-123</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Add to application</a></td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="pagination">
            <div class="pager-summary govuk-body">Showing <strong>1</strong> – <strong>50</strong> of <strong>57</strong> goods</div>
            <ul class="pager-items govuk-body">
                <li>1</li>
                <li><a href="#" class="govuk-link govuk-link--no-visited-state">2</a></li>
            </ul>
        </div> 
	</div> -->
</div>
{% endblock %}
