
{% extends "layout.html" %}

{% block pageTitle %}
Are you sure you want to remove this good from your application?
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add goods</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Are you sure you want to remove this good from your application?</h1>
        <form action="goods-in-application" method="post"> 
            <input type="hidden" name="removeGoodApplication" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">Yes, remove good</button>
        </form> 
    </div>
</div>
{% endblock %}
