
{% extends "layout.html" %}
 
{% block pageTitle %}
LITE Exporter prototype
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}<!-- empty -->{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">LITE Exporter prototype <span class="govuk-caption-xl">based on GOV.UK Prototype Kit {{releaseVersion}}</span></h1>{{releaseVersion | log }}
        <p class="govuk-body">This prototype is based on the MVP that is currently being built by our developers for the LITE service.</p>
        <p class="govuk-body">It will explore areas where we have uncovered pain points within the MVP as well as to-be user journeys.</p>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Start and sign in</h2>
        <p class="govuk-body govuk-!-margin-bottom-2">The service start page and login screen to the exporters hub.</p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="start/v1/" class="govuk-link">View prototype</a></p>
                <!-- <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">TBC</p> -->
            </div>
        </details>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Home</h2>
        <p class="govuk-body govuk-!-margin-bottom-2">Hub for exporters (once logged in).</p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <span class="status-tag status-info status-tag-index govuk-body govuk-!-font-size-14 govuk-!-margin-left-0">Tested between 19 November to 4 December 2019</span>
                <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-2"><a href="home/v1/" class="govuk-link">View prototype</a></p>
                <p class="govuk-body"><a href="home/v1/no-js/" class="govuk-link">View prototype (no JavaScript)</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Some variation among exporters depending on how their trade control functions were organised</li>
                    <li>Good to have compliance and annual returns section lifted up hierarchy so they appear at the same level as applying for licences and so on</li>
                    <li>Labelling of all sections understood in terms of what users would find in those sections, however:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>"Goods and services" was not recognised, particularly "services" as participants could not relate things being licensable to services</li>
                            <li>Persistent issue (as encountered elsewhere) about "Goods" not being perceived to include technology and software (exporters typically see "goods" as hardware rather than as an all-encompassing term for licensable things being exported)</li>
                            <li>Some participants did not know what PV gradings were as they had never applied for one (research inference is that if they had to apply for a PV grading, then this lack of familiarity would not have been encountered)</li>
                        </ul>
                    </li>
                    <li>"Your account" section reveal concept was a familiar design pattern to participants</li>
                    <li>Good to have account management separated from the other sections</li>
                    <li>Some (minor) terminology points raised - there is organisation / team administration in there as well as user's own account so at odds with conventions elsewhere (where "Your account" is exclusively for self-servicing on account-related matters) / "Sites" not necessarily understood as locations</li>
                    <li>Notifications alerts (red dot with number in) not sometimes understood as relating to notifications exclusively. For some participants, the number in the dot was inferred to mean number of things in that section, for example number of applications in progress ("Check progress" notifications)</li>
                    <li>One participant was looking for additional graphics to reinforce what the sections were - for example having a team icon alongside "Team settings" in Your account</li>
                </ul>
            </div>
        </details>
        
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Applications, licences and clearances</h2>
        <p class="govuk-body govuk-!-margin-bottom-2">Exporters can view draft applications and check for updates.</p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body govuk-!-margin-bottom-2"><a href="applications-licences-clearances/v1/tabs/" class="govuk-link">View prototype (tabs)</a></p>
                <p class="govuk-body"><a href="applications-licences-clearances/v1/" class="govuk-link">View prototype (separate pages)</a></p>
                <!-- <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">TBC</p> -->
            </div>
        </details>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Task list</h2>
        <p class="govuk-body govuk-!-margin-bottom-1">Exporters can see which sections have (or haven't) been completed.</p>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Export licence (standard)</h3>
        <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text govuk-!-margin-bottom-4">
                <span class="status-tag status-info status-tag-index govuk-body govuk-!-font-size-14 govuk-!-margin-left-0">Tested between 19 November to 4 December 2019</span>
                <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-2"><a href="task-list/standard/v1/" class="govuk-link">View prototype (in-flight example)</a></p>
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Different states</h4>
                <p class="govuk-body govuk-!-margin-bottom-2"><a href="task-list/standard/v1/default" class="govuk-link">View prototype (default)</a></p>
                <p class="govuk-body"><a href="task-list/standard/v1/completed" class="govuk-link">View prototype (completed)</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Only shown to a small number of participants</li>
                    <li>Preference is to have sight of what information has been entered into section rather than its completeness</li>
                    <li>Check Your Answers pattern perceived as being more useful owing to having entered information immediately available</li>
                </ul>
            </div> 
        </details>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Goods</h2>
        <p class="govuk-body govuk-!-margin-bottom-1">Exporters can add goods to their account and/or add goods to their application.</p>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Goods database</h3> 
        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <span class="status-tag status-info status-tag-index govuk-body govuk-!-font-size-14 govuk-!-margin-left-0">Tested between 19 November to 4 December 2019</span>
                <p class="govuk-body govuk-!-margin-top-4"><a href="goods/v1/" class="govuk-link">View prototype</a></p> 
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">On the 'Goods and services' <a href="goods/v1/index">landing page</a>:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Preference to have part number adjacent to name (exporters make sense of which product is which by one of the name, part number or combination of part number)</li>
                    <li>For many exporters, the CLC will be the same for all their goods owing to the nature of their activities, so it is not that important for sense making</li>
                </ul>
                <p class="govuk-body">For 'Good name 1 to Good name 4' examples:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Some of the language was not immediately understood, especially "under review" and "be verified" in the grey boxes on the right</li>
                    <li>The verified status indicator (green "Verified" alongside product name) was understood and valued</li>
                    <li><a href="goods/v1/good-4.html">Good name 4</a> - Users responded positively to having the ability to see which applications had included a specific product however questions were raised about what these applications (that is, current?, decided?) and also how these applications were chronicled (that is, this year?, ever?)</li>
                </ul>
            </div>
        </details>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Goods in application</h3>
        <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text govuk-!-margin-bottom-4">
                <p class="govuk-body govuk-!-margin-bottom-2"><a href="goods-application/v1/" class="govuk-link">View prototype</a></p>
                <!-- <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">TBC</p> -->
            </div>
        </details> 

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Check your answers</h2>
        <p class="govuk-body govuk-!-margin-bottom-2">Exporters can review their application before submitting it.</p>
        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <span class="status-tag status-info status-tag-index govuk-body govuk-!-font-size-14 govuk-!-margin-left-0">Tested between 21 to 27 October 2019</span>
                <p class="govuk-body govuk-!-margin-top-4"><a href="https://lite-prototype.herokuapp.com/exporter/apply/cya-60-products-v1" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">For the Products section:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Difficult to scan</li>
                    <li>Not possible to check easily for duplicates</li>
                    <li>Not possible to check easily for missing items</li>
                    <li>Not possible to check easily for incorrectly added items</li>
                    <li>Not possible to compare items easily</li>
                    <li>Not possible to edit the items / section</li>
                </ul>
            </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 2</span>
            </summary>
            <div class="govuk-details__text">
                <span class="status-tag status-info status-tag-index govuk-body govuk-!-font-size-14 govuk-!-margin-left-0">Tested between 19 November to 4 December 2019</span>
                <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-2"><a href="cya/v2/" class="govuk-link">View prototype</a></p>
                <p class="govuk-body"><a href="cya/v2_1/" class="govuk-link">View prototype (version 2.1)</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Positive response as it enables exporters to preview application prior to submission</li>
                    <li>Perceived to be a user friendly improvement on current application preview in SPIRE</li>
                    <li>Ability to go back to specific part of the application welcomed (although users should then be able to return to the 'Check your answers' page rather than have to navigate sequentially through the application form as is the current behaviour in SPIRE)</li>
                    <li>Having goods listed on separate page prompted various responses:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>On one hand, always have goods listed separately regardless of number of goods in application to enforce consistency</li>
                            <li>On the other, if less than <i>n</i> goods in application, then those goods should be listed within the 'Check your answers' page (differing preferences for what <i>n</i> should be, ranging between 3 and 10)</li>
                        </ul>
                    </li>
                    <li>One other suggestion was to have the ability to make changes within the 'Check your answers' page rather than returning to the specific page in the application form</li>
                    <li>This page is also preferred to the 'Task list' patterm for checking status of the application preparation</li>
                    <li>One terminology issue raised - "Manage" for call to action to check goods information did not make it clear what a user could do on the goods listing page</li>
                </ul>
            </div> 
        </details>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 3</span>
            </summary>
            <div class="govuk-details__text govuk-!-margin-bottom-4">
                <p class="govuk-body govuk-!-margin-bottom-2"><a href="cya/v3/" class="govuk-link">View prototype (no grey box)</a></p>
                <!-- <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">TBC</p> -->
            </div> 
        </details>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Archive</h3>
        <p class="govuk-body"><a href="https://lite-prototype.herokuapp.com/" class="govuk-link">Previous LITE prototypes</a></p>
    </div>
</div>
{% endblock %}
