
{% extends "layout.html" %}
 
{% block pageTitle %}
LITE Exporter prototype
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}<!-- empty -->{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">LITE Exporter prototype <span class="govuk-caption-xl">based on GOV.UK Prototype Kit {{releaseVersion}}</span></h1>{{releaseVersion | log }}
        <p class="govuk-body">This prototype is based on the MVP that is currently being built by our developers for the LITE service.</p>
        <p class="govuk-body">It will explore areas where we have uncovered pain points within the MVP as well as to-be user journeys.</p>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Home</h2>
        <p class="govuk-body govuk-!-margin-bottom-2">Hub for exporters (once logged in).</p>
        <details class="govuk-details govuk-!-margin-bottom-1_" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">TBC</p>
                <!-- <p class="govuk-body"><a href="home/v1/" class="govuk-link">View prototype</a></p>
                    
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p> -->
            </div>
        </details>
        <!-- DASHBOARD 
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 2</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="dashboard/v2/" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p>
            </div>
        </details> 
        -->

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Task list</h2>
        <p class="govuk-body govuk-!-margin-bottom-1">Exporters can see which sections have (or haven't) been completed.</p>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Standard licence</h3>
        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text govuk-!-margin-bottom-4">
                <p class="govuk-body govuk-!-margin-bottom-2"><a href="task-list/standard/v1/" class="govuk-link">View prototype</a></p>
                <!-- <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p> -->
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Different states</h4>
                <p class="govuk-body govuk-!-margin-bottom-2"><a href="task-list/standard/v1/default" class="govuk-link">View prototype (default)</a></p>
                <p class="govuk-body govuk-!-margin-bottom-2"><a href="task-list/standard/v1/completed" class="govuk-link">View prototype (completed)</a></p>
                <p class="govuk-body"><a href="task-list/standard/v1/completed-cya" class="govuk-link">View prototype (completed - check your answers)</a></p>
                <!-- <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p> -->
            </div> 
        </details>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Open licence</h3>
        <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">TBC</p>
                <!-- <p class="govuk-body"><a href="task-list/open/v1/" class="govuk-link">View prototype</a></p> -->
            </div>
        </details>
        <!-- <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Open licence</h3>
        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="task-list/open/v1/" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p> 
            </div>
        </details> -->
        <!-- TASK LIST
        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 2</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="task-list/v2/" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p>
            </div>
        </details>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 3</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="task-list/v3/" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p>
            </div>
        </details> 
        -->

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Goods</h2>
        <p class="govuk-body govuk-!-margin-bottom-1">Exporters can add goods to their account and/or add goods to their application.</p>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Goods list</h3> 
        <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="goods/v1/" class="govuk-link">View prototype</a></p> 
            </div>
        </details>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Goods list in application</h3>
        <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="goods-application/v1/" class="govuk-link">View prototype</a></p>
            </div>
        </details> 
        <!-- GOODS
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 2</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="goods/v2/" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p>
            </div>
        </details>
        <h3 class="govuk-heading-m">Goods List - Application</h3>
        <p class="govuk-body">This is the page that an exporter will see to enable them to add goods to their account.</p> 
        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="goods/v1/" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p>
            </div>
        </details>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 2</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="goods/v2/" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p>
            </div>
        </details>
        -->

        <!-- CHECK YOUR ANSWERS -->
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Check your answers</h2>
        <p class="govuk-body govuk-!-margin-bottom-2">Exporters can review their application before submitting it.</p>
        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 1</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body"><a href="https://lite-prototype.herokuapp.com/exporter/apply/cya-60-products-v1" class="govuk-link">View prototype</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">For the Products section:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Difficult to scan</li>
                    <li>Not possible to check easily for duplicates</li>
                    <li>Not possible to check easily for missing items</li>
                    <li>Not possible to check easily for incorrectly added items</li>
                    <li>Not possible to compare items easily</li>
                    <li>Not possible to edit the items / section</li>
                </ul>
            </div>
        </details>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Version 2</span>
            </summary>
            <div class="govuk-details__text govuk-!-margin-bottom-4">
                <p class="govuk-body govuk-!-margin-bottom-2"><a href="cya/v2/" class="govuk-link">View prototype</a></p>
                <p class="govuk-body"><a href="cya/v2_1/" class="govuk-link">View prototype (version 2.1)</a></p>
                <!-- <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p> -->
            </div> 
            <!-- <div class="govuk-details__text">
                <p class="govuk-body"><a href="cya/v2_1/" class="govuk-link">View prototype (version 2.1)</a></p>
                <h3 class="govuk-heading-m">What we learned</h3>
                <p class="govuk-body">Bullet points or paragraphs to highlight key areas learnt from testing out this version of the prototype.</p>
            </div> -->
        </details>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Archive</h3>
        <p class="govuk-body"><a href="https://lite-prototype.herokuapp.com/" class="govuk-link">Previous LITE prototypes</a></p>
    </div>
</div>
{% endblock %}
